@model AdminLTEWithASPNETCore.Models.Components.Boxes.BoxModel

<div class="info-box @Model.ShadowText">
    <span class="info-box-icon @Model.BackgroundColor"><i class="fa @Model.Icon"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">@Model.Text</span>
        <span class="info-box-number">@Model.SubText</span>
    </div>
</div>