@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/AdminLTEAccount/_Layout.cshtml";
}

<p class="login-box-msg">Sign in to start your session</p>

<form id="account" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="input-group mb-3">
        <div class="input-group mb-3">
            <input asp-for="Input.Email" class="form-control" type="email" placeholder="Email" />
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="icheck-primary">
                <input asp-for="Input.RememberMe" type="checkbox" id="remember">
                <label for="remember">
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </div>
        <!-- /.col -->
    </div>
</form>

<div class="social-auth-links text-center mb-3">
    <p>- OR -</p>
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            string logo = "";
                            string cssButton = "btn-primary";
                            switch (provider.Name)
                            {
                                case "Facebook":
                                    logo = "<i class=\"fab fa-facebook mr-2\"></i>";
                                    break;
                                case "Google":
                                    logo = "<i class=\"fab fa-google-plus mr-2\"></i>";
                                    cssButton = "btn-danger";
                                    break;
                                case "Microsoft":
                                    logo = "<i class=\"fab fa-microsoft mr-2\"></i>";
                                    break;
                                case "Twitter":
                                    logo = "<i class=\"fab fa-twitter mr-2\"></i>";
                                    cssButton = "btn-info";
                                    break;
                            }

                            <button type="submit" class="btn btn-block @cssButton" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@Html.Raw(logo) @provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</div>

<p class="mb-1">
    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
</p>
<p class="mb-0">
    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
