@using AdminLTEWithASPNETCore.Helpers 
@using AdminLTEWithASPNETCore.Extensions
@{ 
    string userName = User.Identity?.Name;
    string realName = UIHelpers.GetRealName(User.Claims);
    string role = User.Claims?.GetClaimValue("role");
    string displayName = realName ?? userName;
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/Home" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@GravatarHelpers.GravatarUrl(userName)" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@displayName</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("Home", "Index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Privacy" class="nav-link @Url.MakeActiveClass("Home", "Privacy")">
                        <i class="nav-icon fas fa-lock"></i>
                        <p>
                            Privacy
                        </p>
                    </a>
                </li>
                <li class="nav-item @Url.MakeAreaMenuOpenClass("Identity")">
                    <a id="manage" class="nav-link has-treeview" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <i class="nav-icon fas fa-user-circle"></i>
                        <p>Manage your account</p>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a class="nav-link @Url.MakeAreaActiveClass("Identity", "/Account/Manage/Index")" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Your account</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Url.MakeAreaActiveClass("Identity", "/Account/Manage/Email")" asp-area="Identity" asp-page="/Account/Manage/Email" title="Email">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Your email</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Url.MakeAreaActiveClass("Identity", "/Account/Manage/ChangePassword")" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Change Password">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Change Password</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Url.MakeAreaActiveClass("Identity", "/Account/Manage/TwoFactorAuthentication")" asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication" title="Two factor authentication">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Authentication</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Url.MakeAreaActiveClass("Identity", "/Account/Manage/PersonalData")" asp-area="Identity" asp-page="/Account/Manage/PersonalData" title="Personal Data">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Personal Data</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="nav-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>
                            Logout
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>